.observable{
    background-color: ghostwhite;
    display: flex;
    min-height: 60px;
    border: 1px solid gray;
    margin: 5px 0;
    overflow-x: auto;
}

.event{
    padding: 10px;
    border-radius: 15px 15px;
    margin: 10px 5px;
    border: 1px solid gray;
    flex-shrink: 0;
}

.event.next{
    background-color: skyblue;
}

.event.error{
    background-color: indianred;

}

.event.completed{
    background-color: greenyellow;
}